<footer class="navbar d-flex flex-column justify-content-center">
    <nav class="navbar navbar-expand-md navbar-dark mt-0">
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md">
                <img src="http://cactusdeliverylogo.std-715.ist.mospolytech.ru/CactusDelivery.svg" alt="logo"  class="img-fluid" width="173px">
            </div>
            <div class="col-md">
                <div class="row"><a href="#" class="link">Кто такой гарант?</a></div>
                <div class="row"><a href="#" class="link">Как стать гарантом?</a></div>
                <div class="row"><a href="#" class="link">Как стать доставщиком?</a></div>
            </div>
            <div class="col-md">
                <div class="row"><a href="#" class="link">Реклама и сотрудичество</a></div>
                <div class="row"><a href="#" class="link">Обратная связь</a></div>
                <div class="row"><a href="#" class="link">Процесс доставки</a></div>
            </div>
            <div class="col-md">
                <div class="row"><a href="#" class="link">Главная</a></div>
                <div class="row"><a href="#" class="link">Другая информация</a></div>
                <div class="row"><a href="#" class="link">Social</a></div>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>
</nav>
</footer>