<div class="row justify-content-center">
    <div *ngIf="orders" class="container p-4">
        <h4 class="mt-1 mb-4 text-center">Ваши заказы</h4>

    
        <div class="col-md-1"></div>
        <div class="col-md">
            <div *ngFor="let order of orders" class="">
                <div class="card mb-3 p-2 justify-content-start row" style="min-height: 80px">
                    <span > <span class="mr-2">Дата заказа: {{order.data}}</span>     Стоимость: {{order.price}} <br></span> 
                    От: {{order.name_sender}}, {{order.phone_sender}}, {{order.address_sender}} <br>
                    Кому: {{order.name_recipient}}, {{order.phone_recipient}}, {{order.address_recipient}} <br>
                    <span class="btn btn-sm btn-primary" style="width: 200px;" 
                    [ngClass]="{
                        'btn-success': order.status == 'Доставлено', 
                        'btn-warning': order.status == 'Выехали за посылкой',
                        'btn-danger': order.status == 'Доставляется' }">{{order.status}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>