<div class="container pt-4">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md">
                <iframe src=
                "https://yandex.ru/map-widget/v1/?um=constructor%3Ac68c46b3d98f4b0789039df2fdd28ddddfafa433b31ff23bc02e0f8554c33058&amp;source=constructor"
                 width="420" height="368" frameborder="0">
                </iframe>
            </div>
            <div class="col-md">
                <app-new-order-form></app-new-order-form>
            </div>


        <div class="col-md-1"></div>
    </div>
</div>