    <!-- Кнопка "закрыть" -->
    
    <button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- . -->
<div class="p-4">
    <!-- Заголовок -->
    <h4 class="h4 text-center">Вход</h4>
    <strong>
      Админ: <br> utility12@mail.ru <br> AdminAdmin <br>
      Для остальных пользователей - регистрируйтесь

    </strong>
    <!-- . -->

    <form class="authBlock" (submit)="login(email, password)">

            <!-- Форма -->
            <label for="email-sign">Email адрес</label>
            <input type="email" class="form-control" id="email-sign" aria-describedby="emailHelp" placeholder="Введите email..." [(ngModel)]="email" name="email">
        
            <label for="pass-sign">Пароль</label>
            <input type="password" class="form-control" id="pass-sign" placeholder="Введите пароль..." [(ngModel)]="password" name="pass">
            <!-- . -->
       
            <!-- Открытие модального окна "забыли пароль" -->
            <div class="forgotPassword">
              <a routerLink='' class="redirect"  data-dismiss="modal" aria-label="Close"  data-toggle="modal" data-target=".forgot">
                Забыл пароль
              </a>
            </div>
            <!-- . -->

            <!-- ОТкрытие модального окна зарегитсрироваться -->
            <div class="redirectToLogin">
              <a routerLink=''  class="redirect" data-dismiss="modal" aria-label="Close"  data-toggle="modal" data-target=".sign-up">
                Зарегистрироваться
              </a>
            </div>
            <!-- . -->

            <!-- Отправка формы -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
            <!-- . -->

    </form>
  </div>
